@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');
* {
  box-sizing: border-box;
}
*:focus {
  box-shadow: none;
}
body, html {
  color: #84817a;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  margin: 0;
  height: 100%;
  background-color: #d1ccc0;
}
a, a:hover {
  text-decoration: none;
  color: #ccae62;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  padding: 60px 0;
}
.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 30px;
}
.container2 {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 30px;
}
.splash {
  position: relative;
  height: 300px;
  color: #3d3d3d;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url('https://i.postimg.cc/4NKVmVWW/pexels-jack-redgate-2929246.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 40%;
}
.page-intro {
  margin: auto;
  text-align: center;
}
.main-title {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
  font-style: oblique;
  font-size: 50px;
  font-weight: bold;
}
.main-subtitle {
  margin: 12px 0 60px 0;
  font-size: 20px;
  font-style: oblique;
  font-weight: normal;
}
.section-title:before {
  position: absolute;
  display: block;
  content: '';
  width: 200px;
  height: 5px;
  background: #84817a;
  left: 50%;
  bottom: 70px;
  margin-left: -100px;
}
.section-title {
  position: relative;
  margin: 0 0 60px 0;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
}
.section-title:after {
  position: absolute;
  display: block;
  content: '';
  width: 100px;
  height: 5px;
  background: #84817a;
  left: 50%;
  bottom: -16px;
  margin-left: -50px;
}
.features-wrapper1 {
  display: flex;
}
.features-wrapper2 {
  display: flex;
  text-align: center;
}
.feature {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: center;
  margin: 24px 0 0 0;
}
.feature3 {
  text-align: center;
  margin: 24px 0 0 0;
}
.feature i {
  font-size: 50px;
  color: #3d3d3d;
}
.feature3 i {
  font-size: 50px;
  color: #3d3d3d;
  animation: roll 3s infinite;
}
@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.feature-title {
  margin: 24px 0 0 0;
  font-style: oblique;
}
.feature-description {
  margin: 24px 0 0 0;
  padding: 0 24px;
}
.statement {
  color: #ccae62;
  background-image: url('https://i.postimg.cc/wj1Hm5Pb/pexels-jo-o-v-tor-heinrichs-1787035.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  opacity: 0.8;
  filter: alpha(opacity=20);
}
.statement p{
  color: #ccae62;
  margin: 0;
  text-align: center;
}
.quotes-wrapper {
  margin: 72px 0 0 0;
}
.quote blockquote {
  padding: 0 36px;
}
.quote footer {
  margin: 24px 0 0 0;
  text-align: right;
}
section.gallery {
  padding: 60px 0 0 0;
}
.gallery-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 72px 0 0 0;
}
.gallery-item {
  position: relative;
  margin: 0;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: center;
}
.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item:before {
  position: absolute;
  display: none;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.7;
}
.gallery-item figcaption {
  position: absolute;
  display: none;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.gallery-item:hover:before, .gallery-item:hover figcaption {
  display: block;
}
.contact {
  text-align: center;
}
.social-skills {
  list-style-type: none;
  padding: 0;
}
social-links li {
  display: inline-block;
  border: 1px solid #ccae62;
}
.social-links li a {
  display: block;
  width: 100%;
  height: 100%;
}
.social-links li:hover {
  background-color: #bd993e;
  color: #ffffff;
  transition: all 0.5s;
}
.social-links li a:hover {
  background-color: #bd993e;
  color: #ffffff;
  transition: all 0.5s;
}
.page-footer {
  padding: 12px 0;
}
.page-footer .container {
  display: flex;
  justify-content: space-between;
}
.page-footer p {
  margin: 0;
}
.navigation {
  background-color: #3d3d3d;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
  word-spacing: 20px;
}
.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;
}
.navigation ul li {
  display: inline-block;
  margin-right: true;
}
.navigation ul li a:hover {
  color: #696762;
  transition: all 0.5s;
}
.btn {
  padding: 18px 24px 18px 24px;
  font-size: 17px;
  font-family: cursive;
  background-color: #ccae62;
  border-radius: 20px 50%;
  color: #ffffff;
  transition: all 0.5s;
  transform: scale(20);
}
.btn:hover {
  background-color: #bd993e;
  color: #ffffff;
}
.quote {
  width: 100%;
  padding: 0;
}
.flickity-page-dots .dot {
  background-color: #3d3d3d;
}
.flickity-button {
  background-color: #ccae62;
  transition: all 0.5s;
}
.flickity-button-icon {
  fill: #84817a;
}


@media(max-width: 767px){
  .navigation {
  background-color: #3d3d3d;
  padding: 8px 0;
  position: static;
  width: 100%;
  z-index: 9999;
  word-spacing: 20px;
  height: 10%;
}
  
.main-title {
  margin: 0;
  font-family: $font-title;
  font-style: oblique;
  font-size: 70px;
  font-weight: bold;
}
  
.splash {
  position: relative;
  height: 410px;
  color: $color-title;
  margin: 0px;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  background-image: url('https://i.postimg.cc/4NKVmVWW/pexels-jack-redgate-2929246.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 40%;
}
}